{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1>Create Entry</h1>
    <form action="/create-entry" method="post" id="createEntryForm">
        {% csrf_token %}
        {% for field in form %}
            <div class="row">
                <div class="col-md-1">
                    {{ field.label_tag }}
                </div>
                <div class="col-md-8">
                    {{ field }}
                </div>
            </div>
            {% endfor %}
            <div class="row">
                <div class="offset-md-1 col-md-8">
                    <input type="submit" value="Submit">
                </div>
            </div>
    </form>
{% endblock %}